@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background: #eee;
    text-align: center;
    margin: 2em 10em;
}

.date {
    text-align: left;
    font-size: 10px;
}

h1 {
    text-align: center;
    font-family: abril fatface, sans-serif;
    font-size: xx-large;
}

h2 {
    text-align: left;
}

h5 {
    text-align: left;
    color: red;
}

.newspaper-container {

    border-radius: 10px;
    border: 2px transparent;
    padding: 20px;
    background: white;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin-left: -2em;
    margin-right: 2em;
    padding-inline-start: 0;
   
}
}

nav li {
    margin: .5em;
    pading: .5em;
    display: inline-block;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}




